@import '../../../scss/variables.scss';

.footer {
	color: white;
	background-color: $surface;
	padding: 40px;

	.title {
		color: $primary;
	}

	hr {
		width: 100px;
		border-top: 1px solid #333;
	}

	a {
		color: $text-light;
	}

	.list-unstyled {
		margin-bottom: 0px;
	}
}
