@import '../../scss/variables.scss';

.Movie {
	background-color: $surface;
	color: white;

	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

	.card-body .card-subtitle {
		color: $text-light;
	}

	.card-footer {
		border-top: 1px solid #333;
	}
}
