@import './scss/variables.scss';

body {
	background-color: $background;
	overflow-y: scroll;
	font-family: 'Noto Sans', sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

.btn-primary {
	background-color: $primary !important;
	border-color: $primary !important;
	color: black !important;

	&:hover,
	&:active,
	&:focus {
		background-color: $primary !important;
		border-color: $primary !important;
		color: black !important;
	}

	&:hover {
		background-color: $primary-darker !important;
		border-color: $primary-darker !important;
	}
}

.btn-secondary {
	background-color: $secondary !important;
	border-color: $secondary !important;

	&:hover,
	&:active,
	&:focus {
		background-color: $secondary !important;
		border-color: $secondary !important;
	}

	&:hover {
		background-color: $secondary-darker !important;
		border-color: $secondary-darker !important;
	}
}
