$surface: #1d1d1d;

$primary: #ff7043;
$primary-darker: #e5643c;

$secondary: #8d6e63;
$secondary-darker: #7e6359;

$background: #121212;
$background-input: #3a3b3c;

$border-dark: #121212;

$text-light: rgba(255, 255, 255, 0.87);
$text-light: rgba(255, 255, 255, 0.6);
